body {
    font-family: 'Helvetica', '微软雅黑';
    background-image: url('images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #000;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.6;
}

.main-title {
    margin-top: 50px;
    font-size: 3.5rem; /* 放大标题字体 */
    color: #333;
    text-align: center;
    font-family: 'Helvetica', '微软雅黑';
}

.invitation-image img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.invite-message-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.invite-message p {
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 1.8;
    font-size: 1.6rem; /* 放大段落字体 */
}

.invite-message p:first-child {
    margin-bottom: 20px;
}

.invite-message ol {
    font-size: 1.5rem; /* 放大列表项目的字体 */
    margin-left: 20px;
}

.invite-message ol li {
    margin-bottom: 10px;
}

.radio-group-inline {
    display: inline-flex;
    align-items: center;
    margin-left: 10px;
}

.radio-group-inline label {
    margin-right: 10px;
}

.radio-group-inline input {
    margin-right: 5px;
}

#afterparty_idea {
    margin-top: 10px;
    margin-bottom: 20px;
}

.rsvp-button-container {
    text-align: center;
    margin-top: 20px;
}

.rsvp-button-container button {
    padding: 10px 20px;
    background-color: #1e90ff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem; /* 调整按钮字体大小 */
    cursor: pointer;
}

.rsvp-button-container button:hover {
    background-color: #4682b4;
}

@media (max-width: 768px) {
    .main-title {
        font-size: 3rem;
    }

    .invite-message p, .invite-message ol {
        font-size: 1.4rem;
    }

    .rsvp-button-container button {
        font-size: 1.3rem;
    }
}
