body {
    font-family: 'Arial', sans-serif;
    background-image: url('images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #000;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.6; /* 增加全局的行高 */
}

.main-title {
    margin-top: 50px;
    font-size: 3em;
    color: #333;
    text-align: center;
}

.invitation-image img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.invite-message-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.invite-message p {
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 1.8; /* 增加段落的行高 */
}

.invite-message p:first-child {
    margin-bottom: 20px;  /* 增加第一段和第二段之间的距离 */
}

.radio-group-inline {
    display: inline-flex;
    align-items: center;
    margin-left: 10px; /* 保持与文本稍微有些距离 */
}

.radio-group-inline label {
    margin-right: 10px; /* 为了使每个选项之间保持距离 */
}

.radio-group-inline input {
    margin-right: 5px; /* 使得每个 radio button 和表情符号之间的距离适中 */
}

#afterparty_idea {
    margin-top: 10px; /* 调整输入框顶部的空间 */
    margin-bottom: 20px; /* 调整输入框底部的空间 */
}

.rsvp-button-container {
    text-align: center;
    margin-top: 20px;
}

.rsvp-button-container button {
    padding: 10px 20px;
    background-color: #1e90ff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.rsvp-button-container button:hover {
    background-color: #4682b4;
}
