body {
    font-family: 'Helvetica', '微软雅黑'; /* 更新字体 */
    background-image: url('images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #000;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.6;
}

.main-title {
    margin-top: 50px;
    font-size: 3em;
    color: #333;
    text-align: center;
}

.invitation-image img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.invite-message-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.invite-message p {
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 1.8;
    font-size: 1.5rem; /* 增大字体大小，可以根据需要调整 */
}

.special-list {
    font-size: 1.5rem; /* 你可以调整这个值来设置合适的字体大小 */
    line-height: 1.8; /* 保持良好的行间距 */
}

.invite-message p:first-child {
    margin-bottom: 20px;
}

.radio-group-inline {
    display: inline-flex;
    align-items: center;
    margin-left: 10px;
}

.radio-group-inline label {
    margin-right: 10px;
}

.radio-group-inline input {
    margin-right: 5px;
}

#afterparty_idea {
    margin-top: 10px;
    margin-bottom: 20px;
}

.rsvp-button-container {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px; /* 增加按钮与页面底部的距离 */
}

.rsvp-button-container button {
    padding: 10px 20px;
    background-color: #1e90ff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.rsvp-button-container button:hover {
    background-color: #4682b4;
}
